* {
  overflow: hidden;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

#root {
  width: 100%;
  overflow: hidden;
  display: flex;
  height: 100vh;
  align-items: center;
}

:root {
  --d: 4000ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgb(18, 81, 95);
  --c2: rgba(168, 239, 255, 0.1);
}

.menu {
  width: 30%;
  background-color: rgb(35, 36, 51) 83;
}

.container_painel {
  width: 100%;
  height: 94vh;
  overflow: overlay;
  overflow: scroll;

}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}
